
.DS_Store

lec_07/lec_07.toc

lec_07/lec_07.synctex.gz

lec_07/lec_07.snm

lec_07/lec_07.out

lec_07/lec_07.nav

lec_07/lec_07.log

lec_07/lec_07.aux

lec_07/lec_07_files/figure-beamer/unnamed-chunk-3.pdf

lec_07/lec_07_files/figure-beamer/unnamed-chunk-2.pdf

lec_01/lec_01.vrb

lec_01/lec_01.toc

lec_01/lec_01.synctex.gz

lec_01/lec_01.snm

lec_01/lec_01.out

lec_01/lec_01.nav

lec_01/lec_01.log

lec_01/lec_01.aux

lab_07/titanic3.sav

lab_07/.Rhistory

.DS_Store

lec_05_06/l56.aux

lec_05_06/l56.log

lec_05_06/l56.synctex.gz

lec_05_06/lec_05.synctex.gz

lec_05_06/dist_graphs.synctex.gz

lec_05_06/dist_graphs.log

lec_05/dist_graphs-concordance.tex

lec_05/dist_graphs.log

lec_05/dist_graphs.synctex.gz

lec_05/figure/unnamed-chunk-11.pdf

lec_05/figure/unnamed-chunk-12.pdf

lec_05/lec_05.aux

lec_05/lec_05.log

lec_05/lec_05.synctex.gz

tGM/tGM.aux

tGM/tGM.log

tGM/tGM.synctex.gz

lec_06/lec_06.aux

lec_06/lec_06.blg

lec_06/lec_06.log

lec_06/lec_06.synctex.gz

lec_04/lec_04.aux

lec_04/lec_04.log

lec_04/lec_04.synctex.gz

lab_02/r21i_os24a.sav

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3.png

lec_02/r21i_os24a.sav

lab_03/.Rhistory

lab_03/nano_research_files/figure-latex/unnamed-chunk-2.pdf

lab_03/nano_research.docx

lab_03/nano_research.knit.md

lab_03/nano_research.utf8.md

lab_03/r21i_os24a.sav

lab_03/wages_in_the_USA.zip

lab_03/rlms_data.Rds

lab_03/wages1.dat

lab_03/wages1.dta

lab_03/wages1.txt

lab_03/wages1.wf1

lab_08/graph_08.zip

*.aux

lab_08/graphs_08_files/figure-latex/

lab_08/graphs_08-tikzDictionary

*.log

*.gz

*.nav

*.out

*.snm

*.toc

*.vrb

*.sol

lab_10/.Rhistory

*.blg

lec_10/lec_10_files/figure-beamer/unnamed-chunk-3-1.pdf

lec_10/lec_10_files/figure-beamer/unnamed-chunk-4-1.pdf

lec_10/lec_10_files/figure-beamer/unnamed-chunk-5-1.pdf
.Rproj.user

lec_10/.Rhistory

lec_10/figure/unnamed-chunk-3-1.png

lec_10/figure/unnamed-chunk-5-1.png

lec_10/figure/unnamed-chunk-8-1.png

lec_10/lec_10_files/figure-beamer/unnamed-chunk-7-1.pdf

lec_10/lec_10_files/figure-beamer/unnamed-chunk-8-1.pdf

lec_10/lec_10.fls

lec_10/lec_10.docx

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-4-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lab_02/lab_02.zip

lec_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

lab_03/lab_03.zip

lab_04/lab_04.zip

lab_05/lab_05.zip

lab_06/lab_06.zip

lec_06/lec_06_files/figure-beamer/unnamed-chunk-2-1.pdf

lec_06/lec_06_files/figure-beamer/unnamed-chunk-3-1.pdf

lec_06/lec_06_files/figure-beamer/unnamed-chunk-4-1.pdf

lec_06/lec_06.tex

test_06_quest.txt

video_comments/figure/unnamed-chunk-1-1.pdf

video_comments/figure/unnamed-chunk-2-1.pdf

video_comments/figure/unnamed-chunk-2-1.tikz

video_comments/figure/unnamed-chunk-3-1.pdf

video_comments/figure/unnamed-chunk-3-1.tikz

video_comments/lec_08_reply_01-tikzDictionary

video_comments/lec_08_reply_01.tex

lab_08/graphs_08.tex

lab_07/lab_07.zip

lab_08/lab_08.zip

lec_07/lec_07.tex

lec_08/lec_08.tex

lec_08/lec_08_files/figure-beamer/unnamed-chunk-1-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-10-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-11-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-3-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-2-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-4-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-5-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-6-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-7-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-8-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-9-1.pdf

lec_08/lec_08_files/figure-beamer/unnamed-chunk-12-1.pdf

lec_07/lec_07.tex

lab_07/lab_07_master.R

demo_2.html

lab_09/lab_09.zip

lec_09/lec_09.tex

coursera2openedu/.Rhistory

*.mp4

lec_04/lec_04.md

lec_03/lec_03.md

lec_02/lec_02.md

lec_01/lec_01.md

lec_01/lec_01.tex

lec_01/figure/unnamed-chunk-3-1.png

lec_01/figure/unnamed-chunk-4-1.png

lec_01/figure/unnamed-chunk-3-1.png

lec_07/lec_07.md

lec_06/lec_06.md

lec_05/lec_05.tex

lec_06/figure/*.*

lec_05/lec_05.md

lec_03/lec_03.tex
