
.DS_Store

lec_07/lec_07.toc

lec_07/lec_07.synctex.gz

lec_07/lec_07.snm

lec_07/lec_07.out

lec_07/lec_07.nav

lec_07/lec_07.log

lec_07/lec_07.aux

lec_07/lec_07_files/figure-beamer/unnamed-chunk-3.pdf

lec_07/lec_07_files/figure-beamer/unnamed-chunk-2.pdf

lec_01/lec_01.vrb

lec_01/lec_01.toc

lec_01/lec_01.synctex.gz

lec_01/lec_01.snm

lec_01/lec_01.out

lec_01/lec_01.nav

lec_01/lec_01.log

lec_01/lec_01.aux

lab_07/titanic3.sav

lab_07/.Rhistory

.DS_Store

lec_05_06/l56.aux

lec_05_06/l56.log

lec_05_06/l56.synctex.gz

lec_05_06/lec_05.synctex.gz

lec_05_06/dist_graphs.synctex.gz

lec_05_06/dist_graphs.log

lec_05/dist_graphs-concordance.tex

lec_05/dist_graphs.log

lec_05/dist_graphs.synctex.gz

lec_05/figure/unnamed-chunk-11.pdf

lec_05/figure/unnamed-chunk-12.pdf

lec_05/lec_05.aux

lec_05/lec_05.log

lec_05/lec_05.synctex.gz

tGM/tGM.aux

tGM/tGM.log

tGM/tGM.synctex.gz
